{% extends 'base.html' %}

{% block content %}
<div class="hero-unit">
  <h1>Questionnaire Site</h1>
  <br>
  <div class="container">

        <p><a href="/add_survey/">Create Survey</a></p>
        <p><a href="/add_question/">Add Question</a></p>
        <p><a href="/add_participant/">Add Participant</a></p>

        <br>

        <p><a href="/add_likert_scale_answer/">Add Likert</a></p>
        <p><a href="/add_text_answer/">Add Text</a></p>
        <p><a href="/add_boolean_answer/">Add Boolean</a></p>

        <br>

        <p><a href="http://127.0.0.1:8000/add_response/?survey=Survey7&email=participant7@gmail.com">Add Response</a></p>
        <p><a href="http://127.0.0.1:8000/view_survey/?survey=Survey9">Latest added Survey</a></p>
        <p><a href="http://127.0.0.1:8000/view_answers/?survey=Survey4&email=participant4@gmail.com">
            A Completed Survey</a></p>

      <br/>
  </div>
</div>
{% endblock %}

