{# http://chartit.shutupandship.com/docs/ #}
{% extends 'private_base.html' %}

{% block content %}

{# retrieve the survey's title that we're displaying stats for #}
<h1>Statistics for survey {{ survey }}</h1>

<div class="alert alert-info">{{ survey }} has <strong>{{ participant_number }}</strong> completed surveys</div>
<br>
    {# load the chart for display #}
    {% load chartit %}
        {{ charts|load_charts:chartnumber }}

        {% for chart in charts %}
            {% with forloop.counter|stringformat:"s" as count %}
            {% with "container"|add:count as template %}

            <div id='{{ template}}'> Chart will be rendered here </div>

            {% endwith %}
            {% endwith %}
        {% endfor %}
{% endblock %}