{% extends 'private_base.html' %}

{% block content %}
    <div id="view_survey">
        <div class="highlight">

            {# add the survey's title and description on top of the page #}
            <h1>{{ survey }}</h1>
            <p>{{ survey.description }}</p>

            <hr>

            {# display each question that belongs to a given survey and its type #}
            {% for question in questions %}

                <div id="qid-{{ question.pk }}"
                <p><b>{{ question.question_description }}</b> Type: {{ question.question_type }}</p>
                <!--<p>{{ text_result }}</p>-->

                {# add the 'delete' button in case the user wants to remove a question #}
                <a class="btn delete-question" onclick="deleteQuestion({{ question.pk }});" href="#!">Delete</a>
                <hr>
                </div>
            {% endfor %}


    <div class="alert-area"></div>

        </div>
            {# include the add_question form#}
            <form class="span6" id="question_form" method="post" action="/add_question/">
                {% csrf_token %}

                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}

                    {% for field in form.visible_fields %}
                        {{ field.errors }}
                        <p>{{ field.help_text }} </p>
                        {{ field }}
                    {% endfor %}

                    <br/>

                <button id="submit" class="btn btn-primary" type="submit" name="submit">Create Question</button>
            </form>
        </div>

{# using JavaScript to add questions to the database, without page refresh #}
<script>

    {# variables #}
    var alertArea = $('.alert-area');
    var form = $('form#question_form');
    var desc = $('#id_question_description');
    var survey_select = $('#id_survey');
    var checkboxValue;
    var count = 0;
    var survey = $('h1').html();

// retrieve the value of an object with jQuery, if the function returns true
// http://api.jquery.com/filter/
$('#id_survey option').filter(function() {
  return ($(this).text() == survey);
}).prop('selected', true);

// http://stackoverflow.com/questions/786142/how-to-retrieve-checkboxes-values-in-jquery
$('input[type="radio"]').click(function() {
  if($(this).is(':checked')) {
    checkboxValue = this.getAttribute("value");
    {# console.log(checkboxValue); #}
  }
});

// http://stackoverflow.com/questions/1200266/submit-a-form-using-jquery
$(form).submit( function() {
  $.ajax({
    url: '/add_question/',
    type: 'post',
    data: $('form#question_form').serialize(),
    complete:function(){
    },
    success: function(data) {

      if (data != "Created Question") {
        {# console.log("failed!!!")#}
        {# alert the user that the question has not been added #}
        $('.alert').remove();
        alertArea.prepend('<div class="alert alert-danger">Add Question failed. Please try again later.</div>');
        $('.alert').delay(2000).fadeOut(2000);

      }
      else {
        {# console.log("it worked!")#}
        {# alert the user the question was added #}
        alertArea.before('<p id="added' + count + '"><b>' + desc.val() +'</b> Type: ' + checkboxValue  + '</p><hr>');
        alertArea.prepend('<div class="alert alert-success">Added Question!</div>')
        $('.alert').delay(2000).fadeOut(2000);
        count++;

        desc.val("")
        {# highlight the 'desc' element every time the event is trigerred #}
        desc.focus();
      }
    }
  });
  return false; //prevents default action of form submit
});
</script>


{# using JavaScript to delete a question #}
<script>

  function deleteQuestion(pk)
  {
      $('#qid-' + pk).hide();
      $.ajax({
          url: '/delete_question/?question=' + pk,
          type: 'get',
          complete: function () {
          },
          success: function (data) {

              if (data != "Deleted Question") {
                  console.log("failed!!!")
              }
              else {
                  console.log("it worked!")
              }
          }});
  }
</script>

{% endblock %}