/* custom css applied to the each unordered list that belongs to a 'form' element */
form ul {
  list-style-type: none;
  margin-left: 0;
}

/* custom css applied to 'alert-area' class_selector */
.alert-area {
  height: 58px;
}

/* custom css applied to 'question_form' id_selector */
#question_form {
    display: block;
    float: right;
    width: 300px;
    position: fixed;
    right: 0;
    top: 100px;
}

.highlight {
    display: block;
    margin-right: 300px;
}

#view_survey #id_question_description + p, #view_survey #id_survey {
  display: none;
}

input[type="checkbox"] {
    margin-bottom: 1em;
}